* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    height: 100%;
    background:linear-gradient(to bottom left,#55aaff 60%, #55ffff);
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 0 50px;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    box-shadow: 0 2px 4px #383838;
}

.logo {
    color: #fff;
    margin-right: auto;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 38%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 2;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}

.nav-active {
    transform: translateX(0%) !important;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        min-height: 7vh;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 93vh;
        top: 7vh;
        background-color: #55aaff;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    @keyframes navLinksFade {
        0% {
            opacity: 0;
            transform: translateX(50px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(405deg) translate(-5px, -6px);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

.title h1 {
    font-size: 60px;
    margin: 0;
    border-bottom: solid 5px #fff;
}

@media screen and (max-width: 480px) {
    .title h1 {
        font-size: 40px;
    }
}
