* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgba(30,37,40,.82);
}

header a {
    text-decoration: none;
    color: #fff;
}

a {
    text-decoration: none;
    color: #337ab7;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 20px 50px;
    align-items: center;
    min-height: 60px;
    width: 100%;
}

.logo {
    color: #fff;
    margin-right: auto;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 38%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.burger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px #8f8c8c;
    padding: 6px;
}

.burger div {
    width: 20px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}

.nav-active {
    transform: translateX(0%) !important;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 55%;
    }
}

@media screen and (max-width: 768px) {

    nav {
        min-height: 6vh;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: rgb(255, 255, 255, 0.9);
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links a {
        color: #000;
    }

    .burger {
        display: block;
    }

    @keyframes navLinksFade {
        0% {
            opacity: 0;
            transform: translateX(50px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(405deg) translate(-5px, -6px);
}


.memo {
    position: absolute;
    top: 12.5%;
    height: 75vh;
    color: #fff;
    padding: 20px;
    margin-left: 5%;
    background-color: orange;
    border-radius: 30px 0 0 30px;
    box-shadow: -4px 4px 10px gray;
}

.memo h1 {
    margin-bottom: 20px;
}

.memo p {
    margin-left: 30px;
}

.contents {
    margin-bottom: 10px;
}

.sentence {
    overflow-y: auto;
    height: 250px;
}