body {
    font-family: 'Noto Sans JP', sans-serif;
    height: 100%;
    background: #ECEFF1;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #0000ff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #0D47A1;
    color: #fff;
    display: flex;
    box-shadow: 0 2px 4px gray;
}

.header p {
    display: block;
    margin-right: auto;
    margin-left: 30px;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header-ul {
    list-style: none;
    margin-right: 30px;
}

section {
    margin-top: 60px;
}

.content {
    height: 100vh;
    display: flex;
}

.content-nav {
    width: 35%;
    background: #fff;
    margin: 15px;
    box-shadow: 2px 2px 4px -2px gray;
}


.content-title {
    border-bottom: solid 2px #337ab7;
}

.content-test {
    padding: 10px 0;
}

.content-nav h3 {
    text-align: center;
}

.content-true {
    width: 65%;
    background: #fff;
    margin: 15px;
    box-shadow: 2px 2px 4px -2px gray;
}

strong {
    margin-left: 10px;
}

.content-table {
    width: 100%;
}

table {
    margin: 10px auto;
    width: 80%;
    border-collapse: collapse;
    font-size: 15px;
}

.number {
    text-align: center;
}

@media screen and (max-width:480px) {
    .content {
        display: block;
        width: 100%;
        margin-top: 75px;
    }

    .content-nav {
        width: auto;
        margin: 15px;
    }

    .content-true {
        width: auto;
        margin: 15px;
        height: 100vh;
    }
}
