body {
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #0000ff;
}

td {
    text-align: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #1b1b1b;
    color: #fff;
    display: flex;
    box-shadow: 0 2px 4px gray;
}

.header p {
    display: block;
    margin-right: auto;
    margin-left: 30px;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header-ul {
    list-style: none;
    margin-right: 30px;
}

.main {
    margin-top: 70px;
    border-top: solid 0.5px #dcdcdc;
    border-bottom: solid 0.5px #dcdcdc;
}

.content-nav {
    border-radius: 10px;
    border: solid 1px #337ab7;
    margin: 10px;
    width: 36%;
}

.title {
    color: #fff;
    border-bottom: solid 1px #337ab7;
    background-color: #337ab7;
    border-radius: 10px 10px 0 0;
}

.title h3 {
    display: inline;
    font-size: 15px;
}

table {
    border-collapse: collapse;
    margin: 10px;
    width: 100%;
}
