* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    height: 100%;
    background: #ECEFF1;
    margin-top: 70px;
}

header a {
    text-decoration: none;
    color: #fff;
}

td a {
    text-decoration: none;
    color: #337ab7;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 0 50px;
    align-items: center;
    min-height: 60px;
    width: 100%;
    background-color: #0D47A1;
    box-shadow: 0 2px 4px gray;
}

.logo {
    color: #fff;
    margin-right: auto;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 38%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}

.nav-active {
    transform: translateX(0%) !important;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        min-height: 60px;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        padding-top: 7vh;
        background-color: #0D47A1;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    @keyframes navLinksFade {
        0% {
            opacity: 0;
            transform: translateX(50px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(405deg) translate(-5px, -6px);
}

.content {
    height: 100vh;
    display: flex;
}

.content-nav {
    width: 35%;
    background: #fff;
    margin: 15px;
    box-shadow: 2px 2px 4px -2px gray;
}


.content-title {
    border-bottom: solid 2px #337ab7;
}

.content-test {
    padding: 10px 0;
}

.content-nav h3 {
    text-align: center;
}

.content-true {
    width: 65%;
    background: #fff;
    margin: 15px;
    box-shadow: 2px 2px 4px -2px gray;
}

strong {
    margin-left: 10px;
}

.content-table {
    width: 100%;
}

table {
    margin: 10px auto;
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 15px;
}

small {
    font-size: 85%;
}

.number {
    text-align: center;
}

@media screen and (max-width:480px) {
    .content {
        display: block;
        width: 100%;
        margin-top: 75px;
    }

    .content-nav {
        width: auto;
    }

    .content-true {
        width: auto;
        height: 100vh;
    }
}
