body {
    font-family: 'Noto Sans JP', sans-serif;
}

.title {
    border-bottom: solid 1.5px #000080;
}

.imfo {
    background-color: azure;
    color: #5f9ea0;
    border-radius: 10px;
    border: solid 1px #20b2aa;
    margin: 10px;
    text-align: center;
}

.imfo p {
    margin: 5px;
}

.question {
    margin-left: 20px;
}

ul {
    list-style: none;
}

li {
    font-size: 20px;
}

.footer {
    border-top: solid 3px #000;
}

.footer p {
    text-align: center;
}
